@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
  --bgcolor: #000000;
  --contentcolor: #ffffff;
  --stylecolor1: #BDD0D1;
  --stylecolor2: #808FC5;
  --font: Poppins;
  --stdmargin-left: 2.25rem;
  --listcolor: rgba(217, 217, 217, 0.10);
  --listcolorhover: rgba(217, 217, 217, 0.20);
  --listcontentcolor: #B9B9B9;
  --activecolor: #bdd0d1;
  --button2color: rgba(255, 255, 255, 0.32);
}

@keyframes movegrad {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

*{
  font-family: var(--font);
  transition: 0.2s;
}

body{
  margin: 0;
  padding: 0;
  background: var(--bgcolor);
}

.herocontent{
  width: 100%;
  height: 110vh;
  position: relative;
  bottom: 10vh;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.herocontent video{
  object-fit: cover;
  height: 120vh;
  margin-right: 25%;
}

.herotext{
  /* layout */
  position: relative;
  bottom: 37%;
  left: 17%;
  
  /* text */
  color: var(--stylecolor1);
  font-weight: 600; 
}

.herotext>:first-child{
  /* layout */
  margin: 0;

  /* text */
  color: inherit;
  font-size: 2.8vw;
}

.herotext>:first-child span, .specialtext{
  font-weight: 600;
  font-size: 3.8vw;
  background: -webkit-linear-gradient(266deg, var(--stylecolor1) 17.92%, var(--stylecolor2) 53.68%);
  background-size: 500% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: movegrad 2s ease-in-out infinite alternate;
}



.herotext>:first-child ~ p{
  /* layout */
  margin-top: -0.5vh;
  margin-left: 7vw;
  margin-bottom: 0;
  
  /* text */
  color: inherit;
  font-size: 1.85vw;
}

.buttongroup{
  width: auto;
  display: flex;
  gap: 0.7rem;
  margin-right: 1.93rem;
}
.button{
  /* layout */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.525rem;
  padding: 0.375rem 0.875rem;
  cursor: pointer;

  /* style */
  border-radius: 0.75rem;
  background: linear-gradient(76deg, var(--stylecolor1) -53.13%, var(--stylecolor2) 93.32%);
  border: 0rem;

  /* text */
  color: var(--bgcolor);
  font-size: 1.0625rem;
  font-weight: 600;
  animation: movegrad 2s ease-in-out infinite alternate;
}

.button:hover{
  background: linear-gradient(76deg, var(--stylecolor2) -53.13%, var(--stylecolor1) 93.32%);
}


.searchbar{
  /* layout */
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.8125rem;
  margin-right: 3.81rem;

  /* style */
  border: none;
  border-radius: 5rem;
  background-color: #171717;
}
.searchbar:focus-within{
  outline: 0.1rem solid var(--contentcolor);
}

.searchbar:hover{
  background-color: #2d2d2d;;
}

.searchicon{
  width:1.5rem;
  height:1.5rem;
}

.searchinput{
  /* layout */
  width: 17rem;

  /* style */
  background-color: transparent;
  border: 0rem;
  caret-color: var(--contentcolor);
  color: var(--contentcolor);
  font-size: 1.0625rem;
}
.searchinput::placeholder{
  font-weight: 300;
}

.searchinput:focus{
  outline: none;
  border: none;
}


.logo{
  color: var(--contentcolor);
  text-decoration: none;  
  display: inline-flex;
  width: 8.1875rem;
  height: 3.3125rem;
  gap: 0.44rem;
  align-items: center;
  margin-right: auto;
  margin-left: 0.69rem;
}

.logoimage{
  width: 2.8125rem;
  height: 2.8125rem;
}

.logotext{
  /* layout */
  width: 4.9375rem;
  height: 3.3125rem;

  /* text */
  font-size: 2.1875rem;
  font-weight: 600;
}

.navbar{
  /* layout */
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  box-shadow: 0px 4px 6.7px -2px rgba(86, 86, 86, 0.334);
}

h1{
  /* layout */
  margin-left: var(--stdmargin-left);

  /* typography */
  color: var(--contentcolor);
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 500;
}

.horlist {
  /* layout */
  display: flex;
  overflow-x: scroll;
  padding-bottom: 1rem;
  padding-left: var(--stdmargin-left);
  gap: 0.9rem;
  align-items: flex-start;
}
.horlist::-webkit-scrollbar {
  display: none;
}

.horlistitem{
  /* layout */
  flex: 0 0 24rem;
  display: inline-flex;
  flex-direction: column;
  padding: 1.2rem 1.4rem;
  align-items: flex-start;
  gap: 0.375rem 0.4375rem;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;  

  /* style */
  border-radius: 2rem;
  background: var(--listcolor);
}

.horlistitem:hover{
  background: var(--listcolorhover);
  cursor: pointer;
}

.horitemtitle{
  color: #FFF;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.horitemtitle ~ div, p{
  color: var(--listcontentcolor);
  font-size: 0.75rem;
}

.horlistitem p{
  margin-top: 0;
}

.circle{
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  flex-shrink: 0;
}

.circletext{
  display: flex;
  gap: 0.61rem;
  align-items: center;
}

.landingfooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.landingfooter>*{
  margin: 0;
}

.footertext{
  font-weight: 600;
}

.footertext + * {
  margin-top: 2.5rem;
  margin-bottom: 4.75rem;
}

.footertext + * > * {
  font-size: 1.5rem;
}

footer>p:last-child{
  font-size: 1.25rem;
}


.authpage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4.8125rem)
}
  

.authpage>*{
  flex-basis: 100%;
  width: 50%;
}

.authpage video{
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.form{
  background-color: rgba(25, 25, 25, 0.95);
  border: 2px solid rgba(146, 146, 146, 0.13);
  padding: 0.5rem 2.5rem;
  width: 50%;
  height: auto;
  border-radius: 1.6875rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

form>*{
  height: 100%;
}

.form .specialtext{
  margin: 0.5rem;
  font-size: 170%;
  text-align: center;
}

.submit, button{
  padding: 0.8125rem 0.875rem;
  background: var(--button2color);
  color: var(--contentcolor);
  border-radius: 0.875rem;
}

.submit:hover, button:hover{
  background: rgba(255, 255, 255, 0.52);
  cursor: pointer;
}

.input{
  /* layout */
  padding: 0.625rem;
  gap: 0.8125rem;
  outline: 0.01rem solid rgba(255, 255, 255, 0.32);
  display: block;

  /* style */
  border: none;
  color: var(--contentcolor);
  border-radius: 5rem;
  background-color: #171717;
  caret-color: var(--contentcolor);
  padding-left: 1rem;
}
.input:focus-within{
  outline: 0.05rem solid var(--contentcolor);
}

.input:hover{
  background-color: #2d2d2d;;
}

.input.about{
  height: 4rem;
  border-radius: 1.5rem;
  padding-top: 0;
}
.input.bio{
  width: 40rem;
}

.userdata{
  margin: 2.06rem 1.13rem;
  border-radius: 2.125rem;
  background: var(--listcolor);
  padding-bottom: 1.5rem;
  display: flex;
}

.userdatamain{
  flex: 1 1 77%;
  margin-left: 1.75rem;
}

.userfullname{
  margin-top: 1.31rem;
  color: var(--contentcolor);
  font-size: 2.5625rem;
  font-weight: 500;
}

.useraffl{
 color: var(--listcontentcolor) ;
 margin-top: 1.31rem;
 font-size: 1rem;
}

.userbio{
  color: var(--contentcolor);
  margin-top: 2.68rem;
  font-size: 1rem;
  margin-bottom: 1.31rem;
}

.userdataother{
  flex: 1 1 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.3rem;
}

.userdetails{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  margin-left: 7%;
  display: flex;
}

.detailsicon{
  width: 0.875rem;
  height: 1rem;
  margin-right: 0.3rem;
}

.detailscontent{
  color: var(--listcontentcolor);
  font-size: 1rem;

}

.circle + div{
  color: var(--listcontentcolor)
}

.userfields{
  display: flex;
  margin-bottom: 1.31rem;
  gap: 2rem;
}

.projectheadmain>*{
  margin-left: 4%;
}

.projectheadmain>p{
  font-size: 1rem;
}

.specialtext, .userfields>h1{
  font-size: 3.5rem;
  margin-bottom: 2%;
  margin-top: 0
}

.projecthead{
  display: flex;
  gap: 2.5%;
  margin-top: 3%;
}
.projectheadmain{
  flex: 1 1 68%;
}
.projectheadother{
  flex: 1 1 32%;
  background-color: var(--listcolor);
  border-radius: 1.75rem;
  padding: 1.5rem;
}

.projectheadother li{
  padding: 0.7rem;
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.32);
  border-radius: 0.25rem;
}

.projectheadother li:hover{
  background: var(--listcolorhover);
  cursor: pointer;

}
.projectheadother > ul{
  list-style: none;
  padding: 0;
}

.projectheadmain>h1 + div{
  display: flex;
  gap: 1.5rem;
}
.projectheadmain>h1 + div>span{
  color: var(--activecolor);
}
.projectheadmain> p{
  color: var(--contentcolor);
  margin-top: 5%;
}

li>.projauthorname{
  color: var(--listcontentcolor);
  font-size: 1.5rem;
}

li>.projauthoraffl{
  color: #787878
}

li>.projauthorisadmin{
  color: rgba(0,0,0,0);
  font-weight: 600;
  background: -webkit-linear-gradient(266deg, var(--stylecolor1) 17.92%, var(--stylecolor2) 53.68%);
  background-size: 500% auto;
  -webkit-background-clip: text;
  background-clip: text;
}

.link{
  text-decoration: none;
  list-style: none;
}

.signout{
  margin-right: 1%;
  background: var(--button2color);
  color: var(--contentcolor)
}

.paperdetails, .journaldetails{
  border-radius: 1.75rem;
  background: var(--listcolor);
  padding: 2rem;
}

.paperdetails{
  flex: 1 1 57%;
}

.journaldetails{
  flex: 1 1 34%;
}

.pubdetails{
  display: flex;
  gap: 2.2%;
  justify-content:  space-around;
  margin: 3.37rem 2rem;
}

.paperdetails>h1{
  margin: 0;
}

.paperdetails>h1 ~ *{
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--contentcolor)
}

.publication-page-link{
  color:  #BFD2FF;
  text-decoration: underline;
  display: inline-flex;
  gap: 0.2rem;
  align-items: center;
}
.publication::after{
  color:  #BFD2FF;
  text-decoration: underline;
}

.journaldetails *{
  font-size: 1.125rem;
}

.journallinks>p{
  font-weight: 500;
  color: var(--contentcolor);
  padding-bottom: 2.38rem;
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.32);
}

.journalinfo>h1{
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}