@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
  --bgcolor: #000000;
  --inversebg: #ffffff;
  --sccolor: #171717;
  --stylecolor1: #BDD0D1;
  --stylecolor2: #808FC5;
  --font: Poppins;
  --fontsize: 1.0625rem;
}


body{
  margin: 0;
  padding: 0;
  background: var(--bgcolor);
  font-family: var(--font);
}


.button{
  /* layout */
  display: inline-flex;
  align-items: center;
  gap: 0.525rem;
  padding: 0.535rem 0.875rem;

  /* style */
  border-radius: 0.75rem;
  background: linear-gradient(76deg, var(--stylecolor1) -53.13%, var(--stylecolor2) 93.32%);
  border: 0rem;

  /* text */
  color: var(--bgcolor);
  font-size: var(--fontsize);
  font-weight: 600;
}


.searchbar{
  /* layout */
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.8125rem;

  /* style */
  border: none;
  border-radius: 5rem;
  background-color: var(--sccolor);
}
.searchbar:focus-within{
  outline: 0.1rem solid var(--inversebg);
}

.searchicon{
  width:1.5rem;
  height:1.5rem;
}

.searchinput{
  /* layout */
  width: 17rem;

  /* style */
  background-color: transparent;
  border: 0rem;
  caret-color: var(--inversebg);
  font-size: var(--fontsize);
  font-family: var(--font);
  color: var(--inversebg);
}
.searchinput::placeholder{
  font-family: var(--font);
  font-weight: 300;
}

.searchinput:focus{
  outline: none;
  border: none;
}


